@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");
*{
    margin: 0;padding: 0;
}
.bg-container{
    background: linear-gradient(to left,#e89cf7, #e3d8e6);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    font-family:sans-serif;
    color: blueviolet;
    font-size: 40px;
}
img{
    width: 55px;
}
.timerEl{
    font-size: 50px;
}
.quote{
    color: black;
    font-size: 30px;
}
.sub-container{
    border: 3px solid blueviolet;
    background-color: rgba(43, 226, 217,0.2);
    padding: 10px;
    border-radius: 10px;
    margin-top:5px;
}
.inp{
    margin-top: 15px;
    font-size: 25px;
    border-radius: 10px;
    width:100%;
    padding: 5px;
}
.result{
    font-size: 30px;
    color: darkblue;
}
