*{
    margin: 0;padding: 0;
}
.head{
    color: aliceblue;
    margin-bottom:20px ;
    font-size: 40px;
}
.bg-container{
    background-color: cyan;
    height: 100vh;
    text-align: center;
    padding-top: 50px;
}
.inp{
    border:none;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    width: 400px;

}
img{
    width:250px;
    margin-top: 10px;
}
.count{
    color: white;
    font-size: 50px;
    color: black;
}
